.header {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
        margin: 1.8rem 0;
        color: #292929;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.4;
    }

    .logo {
        width: 4.4rem;
        height: 4.8rem;
        object-fit: cover;
        border-radius: .8rem;
    }
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: .8rem;

    .form-body {
        max-width: 100%;
        width: 38rem;
    }

    .main-step {
        margin-top: 2.4rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .dont-have-acc {
        font-size: 1.4rem;
        line-height: 1.8;
        margin-bottom: 0;
        padding: 2.4rem 1.6rem 0;
        margin-top: 1.4rem;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        span {
            color: var(--primary-color);
            font-weight: 500;
            cursor: pointer;
        }
    }

    .forgot-password {
        cursor: pointer;
        font-size: 1.4rem;
        line-height: 1.8;
        margin-top: .5rem;
        color: var(--primary-color);
        font-weight: 600;
    }

    .accept-term {
        margin-left: auto;
        margin-right: auto;
        padding: 1.6rem 2rem 2.8rem 2rem;
        width: min(40rem, 100%);
        bottom: 0;
        color: #666;
        font-size: 1.1rem;
        left: 0;
        line-height: 1.6;
        text-align: center;
        position: absolute;
        right: 0;

        a {
            color: currentColor;
            text-decoration: underline;
        }
    }
}