.sidebar {
    width: var(--admin-sidebar-weight);
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 0;
    overflow-y: scroll;
    transition: all var(--admin-sidebar-time-transition);
    -webkit-transition: all var(--admin-sidebar-time-transition);
    -moz-transition: all var(--admin-sidebar-time-transition);
    -ms-transition: all var(--admin-sidebar-time-transition);
    background: var(--white-color);
    border-right: .1rem solid var(--admin-border-color);

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }

    &.active {
        overflow-y: unset;

        .nav-profile-text,
        .notification {
            display: none !important;
        }
    }

    .sidebar-brand-wrapper {
        width: auto;
        height: 7rem;
        display: flex;
        margin: 0 var(--admin-sidebar-nav-mr-x);
        padding: 2.8rem var(--admin-sidebar-item-pd-x) 0;

        .sidebar-brand {
            transition: all var(--admin-sidebar-time-transition);
        }
    }

    .nav {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0 var(--admin-sidebar-nav-mr-x);
        padding-bottom: 2.8rem;
        list-style: none;
        transition: all var(--admin-sidebar-time-transition);
    }

    .nav .nav-profile {
        padding: 0 var(--admin-sidebar-item-pd-x);
        transition: all var(--admin-sidebar-time-transition);
        border-radius: .6rem;
        margin: .2rem 0;
    }

    .nav .nav-profile .nav-profile-image {
        border: .2rem solid var(--icon-color);
        border-radius: 50%;
    }

    .nav .nav-link {
        height: auto;
        line-height: 1;
        border-top: 0;
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 2rem 0;
        color: #3e4b5b;
        transition: all var(--admin-sidebar-time-transition);
    }

    .nav .nav-profile-text {
        display: flex;
        margin-left: 1.6rem;
        padding-right: 1.6rem;
        flex-direction: column;
    }

    .nav .nav-profile-text .username {
        margin-bottom: .8rem;
        color: var(--text-color);
        font-weight: 700;
        font-size: 1.4rem;
    }

    .nav .nav-profile-text .revenue {
        font-size: 1.4rem;
    }

    .nav .nav-profile .notification {
        font-size: 1.2rem;
        border-radius: .4rem;
        font-weight: bold;
        background: var(--admin-bg-hover-nav-item);
        color: white;
        padding: .6rem .8rem;
        margin-left: 1.6rem;
        border: .1rem solid var(--admin-bg-hover-nav-item);
    }

    .nav .menu-title {
        padding: .6rem 1.2rem;
        color: #3e4b5b;
        font-weight: 700;
        font-size: 1.4rem;
    }

}