.sidebar {
    width: var(--admin-sidebar-weight);
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 0;
    overflow-y: scroll;
    font-family: "Rubik", sans-serif;
    transition: all var(--admin-sidebar-time-transition);
    transition: width var(--admin-sidebar-time-transition), background var(--admin-sidebar-time-transition);
    -webkit-transition: width var(--admin-sidebar-time-transition), background var(--admin-sidebar-time-transition);
    -moz-transition: width var(--admin-sidebar-time-transition), background var(--admin-sidebar-time-transition);
    -ms-transition: width var(--admin-sidebar-time-transition), background var(--admin-sidebar-time-transition);
    border-right: 1px solid var(--admin-border-color);

    &::-webkit-scrollbar {
        width: 0px;
    }

    &::-webkit-scrollbar-track, 
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }

    &.active {
        overflow-y: unset;
        
        .nav-profile-text,
        .notification {
            display: none !important;
        }
    }

    .sidebar-brand-wrapper {
        width: auto;
        height: 70px;
        display: flex;
        margin: 0 var(--admin-sidebar-nav-mr-x);
        padding: 28px var(--admin-sidebar-item-pd-x) 0;
    }

    .sidebar-brand-wrapper .sidebar-brand {
        transition: opacity var(--admin-sidebar-time-transition), transform var(--admin-sidebar-time-transition);

        .img-brand {
            transition: opacity var(--admin-sidebar-time-transition), transform var(--admin-sidebar-time-transition);
            animation: animationImgLogo 1s ease;
        }
    }

    .nav {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        padding-left: 0;
        margin: 0 var(--admin-sidebar-nav-mr-x);
        list-style: none;
        transition: margin 0.4s ease;
    }

    .nav .nav-profile {
        padding: 0 var(--admin-sidebar-item-pd-x);
        transition-duration: 0.25s;
        transition-property: background;
        border-radius: 6px;
        margin: 2px 0;
    }

    .nav .nav-link {
        height: auto;
        line-height: 1;
        border-top: 0;
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 20px 0;
        color: #3e4b5b;
        transition: all .3s ease-in-out;
    }

    .nav .nav-profile-text {
        display: flex;
        margin-left: 16px;
        padding-right: 16px;
        flex-direction: column;
    }

    .nav .nav-profile-text .username {
        font-weight: bold;
        margin-bottom: 8px;
        color: #3e4b5b;
        font-weight: 500;
        font-size: 1.4rem;
    }

    .nav .nav-profile-text .revenue {
        font-size: 1.4rem;
    }

    .nav .nav-profile .notification {
        font-size: 1.2rem;
        border-radius: 4px;
        font-weight: bold;
        background-color: #ff3ca6;
        color: white;
        padding: 5px 7px;
        margin-left: 1.6rem;
        border: 1px solid #ff3ca6;
    }

    .nav .menu-title {
        padding: 0 12px;
        color: #3e4b5b;
        font-weight: 500;
        font-size: 14px;
    }

}