.wrapper {
    --commonly-utilized-sizes: 2.2rem;
    align-items: center;
    background: #fff;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    height: var(--admin-top-height);
    padding: 0 var(--admin-content-pd-x);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: .1rem solid var(--admin-border-color);
    transition: all var(--admin-sidebar-time-transition);
    margin-left: var(--admin-sidebar-weight);

    .body {
        display: flex;
        align-items: center;

        .nav-bar-toggler {
            color: var(--icon-color);
            display: flex;
            border-radius: .6rem;
            align-items: center;
            justify-content: center;
            font-size: var(--commonly-utilized-sizes);
            margin-right: var(--commonly-utilized-sizes);
            cursor: pointer;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1;
    }

    [data-tippy-root] {
        max-width: calc(100vw - 1rem);
    }

}