.wrapper {
    --commonly-utilized-sizes: 2.4rem;
    align-items: center;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    height: var(--admin-top-height);
    padding: 0 var(--admin-content-pd-x);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 1px solid var(--admin-border-color);
    transition: width 0.25s ease, background 0.25s ease;

    .body {
        display: flex;
        align-items: center;
        
        .nav-bar-toggler {
            color: #707070;
            display: flex;
            border-radius: 6px;
            align-items: center;
            justify-content: center;
            font-size: var(--commonly-utilized-sizes);
            margin-right: var(--commonly-utilized-sizes);
            cursor: pointer;
    
            &:hover {
                background: #e8e8e8;
            }
        }
    }
    
    .actions {
        display: flex;
        align-items: center;
        position: relative;
    }

}
