.wrapper {
    flex: 1 1;
    padding: 0 4rem 0 2rem;

    .slide-show {
        margin-top: 1.8rem;
    }

    .content {
        margin-top: 7rem;
        overflow: hidden;
        padding: 0 4.4rem 7.4rem;
    }
}