.wrapper {
    width: 100%;
    min-height: 27rem;
    display: block;
    position: relative;
}

.arrow {
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.2rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    z-index: 1;
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .16);
    color: #4b4b4b;
    cursor: pointer;
    text-align: center;

    &.prev {
        left: 0;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    &.next {
        right: 0;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
}