.wrapper {
    min-width: 23.8rem;
    border-radius: .8rem;
    box-shadow: 0 -.4rem 3.2rem rgba(0, 0, 0, .2);
    color: #1d2129;
    margin: 0;
    padding: 0;
    overflow: hidden;
    will-change: opacity, transform;
    background: var(--white-color);
    transition: all .4s ease;
    animation: fadeIn .4s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-.8rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}