.wrapper {
    border: .2rem solid #e8e8e8;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    width: 50rem;

    &+.wrapper {
        margin-left: 2.4rem;
    }

    .body {
        display: flex;
        margin-bottom: 2rem;

        .info {
            flex: 1 1;

            .title {
                margin: 0;

                a {
                    color: #242424;
                    display: block;
                    font-size: 2rem;
                    font-weight: 900;
                    padding-bottom: 1.4rem;
                }
            }

            .desc {
                font-size: 1.4rem;
                line-height: 1.6;
                margin: 0;
            }
        }

        .thumb-wrap {
            display: flex;
            align-items: center;
            padding-left: 2.4rem;

            .thumb-round {
                width: 12.2rem;
                height: 12.2rem;
                align-items: center;
                border: .5rem solid var(--primary-color);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                overflow: hidden;
            }

            .thumb {
                width: 9.8rem;
                height: 9.8rem;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}