.wrapper {
    h1 {
        
    }

    form {
        margin: 20px;
    }
}

.btn-update {
    background-color: aqua;
    padding: 10px 30px;
    border-radius: 8px;
    margin-top: 1rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
}