.wrapper {
    color: #292929;
    text-align: left;
    width: 100%;

    .d-none {
        display: none !important;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .label-group {
        display: flex;
        justify-content: space-between;

        .label {
            display: block;
            font-size: 1.4rem;
            font-weight: 600;
            padding: 0.8rem 0 0.8rem 0.8rem;
            line-height: 1.4;
        }
    }

    .input-wrapper {
        background: rgba(22, 24, 35, .06);
        border: 1px solid rgba(22, 24, 35, .06);
        border-radius: 44px;
        display: flex;
        height: 44px;
        overflow: hidden;

        input {
            background-color: transparent;
            border: none;
            display: block;
            flex: 1 1;
            font-size: 1.4rem;
            outline: none;
            padding: 12px 20px;
        }

        .right-btn {
            align-items: center;
            border-radius: 44px;
            display: flex;
            font-size: 1.4rem;
            font-weight: 600;
            justify-content: center;
            margin: 1px;
            min-width: 140px;
            white-space: nowrap;
            background-color: #ccc;
            color: #757575;
            cursor: not-allowed;
        }
    }

    .inside-input {
        height: 100%;
        padding: 0 8px 0 16px;
        position: relative;
        color: #292929;
        cursor: pointer;
        text-align: left;

        .label {
            align-items: center;
            color: #292929;
            display: flex;
            font-size: 1.4rem;
            font-weight: 500;
            height: 100%;
            justify-content: space-between;

            &::after {
                background-color: rgba(22, 24, 35, .06);
                content: "";
                height: 70%;
                position: absolute;
                right: -8px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 1px;
            }

            .icon {
                margin-left: 10px;
            }
        }
    }
}