.nav-item {
    position: relative;
    padding: 0 var(--admin-sidebar-item-pd-x);
    border-radius: 6px;
    margin: 2px 0;
    transition: height 0.8s ease, background 0.8s ease;

    .nav-link-sidebar {
        display: flex;
        padding: 12px 0;

        .nav-item-title {
            font-size: 14px;
            font-weight: 600;
            color: var(--admin-color-word-sidebar);
        }

        .wrapper-icon-nav {
            min-width: var(--admin-sidebar-item-min-width-icon);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 14px;

            .icon-nav-item {
                font-size: 18px;
                color: var(--admin-color-word-sidebar);
            }
        }

    }

    &:hover {
        background: var(--admin-bg-hover-nav-item);
    }

    &.active {
        background: var(--admin-bg-hover-nav-item);

        .nav-link-sidebar .nav-item-title,
        .wrapper-icon-nav .icon-nav-item {
            color: var(--white-color);
        }
    }

}