.avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    .avatar {
        border-radius: 50%;
        object-fit: cover;
        width: 34px;
        height: 34px;
    }
}

.action-item {
    color: #707070;
    font-size: var(--commonly-utilized-sizes);
    margin-right: var(--commonly-utilized-sizes);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}