.wrapper {
    --commonly-utilized-sizes: 2.4rem;
    --commonly-utilized-border: 1px solid rgba(0, 0, 0, 0.1);
    --container-mr-bottom: 2rem;
    --container-border-radius: 0.8rem;
    padding: var(--commonly-utilized-sizes) 0;

    .section {
        background: var(--white-color);
        margin-bottom: var(--container-mr-bottom);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .genaral {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin-bottom: var(--container-mr-bottom);
    }

    .center {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 2rem;
        transition: all var(--admin-sidebar-time-transition);
        margin-bottom: var(--container-mr-bottom);

        .center-left,
        .center-right {
            width: 100%;
            height: 100%;
            overflow: hidden;
            transition: all var(--admin-sidebar-time-transition);
        }

    }

}