.wrapper {
    width: 42rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1rem solid #e8e8e8;
    border-radius: 2rem;
    flex: 1;
    padding: 0 1.6rem 0 .8rem;
    transition: border-color .2s ease-in-out;


    .search-icon {
        background-color: #fff;
        background-image: url(../../../../../../../assets/images/search-icon.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 1.8rem;
        border-radius: 50%;
        height: 3.2rem;
        opacity: .7;
        transition: opacity 0.2s ease-in-out;
        width: 3.2rem;
    }

    .input {
        border: none;
        caret-color: #444;
        flex: 1;
        height: 100%;
        outline: none;
        padding: 0 .4rem;
    }
}