.wrapper {
    display: flex;
    align-items: center;
    background-color: #1473e6;
    border-color: #1473e6;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    height: 4.4rem;
    justify-content: center;
    margin: .8rem 0 .2rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 4.4rem;

    &:hover .icon {
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }

    .icon {
        font-size: 1.6rem;
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease;
    }
}