.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    left: 0;
    padding: 0 8px;
    position: fixed;
    top: 7.4rem;
    width: var(--sidebar-width);
    z-index: 8;

    .sidebar-list {
        margin-top: 1rem;
        list-style-type: none;
        padding-left: 0;
    }
}