.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    left: 0;
    padding: 0 .8rem;
    position: sticky;
    position: -webkit-sticky;
    top: 7.4rem;
    width: var(--sidebar-width);
    z-index: 10;

    .sidebar-list {
        margin: 1rem 0;
        list-style-type: none;
        padding-left: 0;
    }
}