.wrapper {
    --admin-bg-hover-nav-item: linear-gradient(to right, #00f3bf, #00badf);
    --admin-color-word-sidebar: #554ab7;
    --admin-sidebar-weight: 26rem;
    --admin-top-height: 6.6rem;
    --admin-border-color: #e8ebed;
    --admin-sidebar-item-pd-x: 1.6rem;
    --admin-sidebar-nav-mr-x: 2rem;
    --admin-sidebar-item-min-width-icon: 3.4rem;
    --admin-sidebar-time-transition: 0.4s ease;
    --admin-content-pd-x: 2.4rem;
    display: flex;
    line-height: 1.5;

    &.minimize-sidebar {
        --admin-sidebar-item-pd-x: .8rem;
        --admin-sidebar-nav-mr-x: 1rem;
        --admin-sidebar-weight: calc(var(--admin-sidebar-item-pd-x)*2 + var(--admin-sidebar-nav-mr-x)*2 + var(--admin-sidebar-item-min-width-icon));
    }

    .container {
        width: calc(100% - var(--admin-sidebar-weight));
        overflow: hidden;
        flex: 1 1;
        margin-left: var(--admin-sidebar-weight);
        transition: all var(--admin-sidebar-time-transition);
    }

    .content {
        padding: 2rem var(--admin-content-pd-x);
        margin-top: var(--admin-top-height);

        .copyright {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2.4rem;
            font-size: 1.4rem;
            color: var(--icon-color);

            .icon-heart {
                margin-left: .4rem;
            }
        }

        .d-none {
            display: none;
        }
    }
}