.wrapper {
    padding: 3rem 3.6rem;
    padding-bottom: 1.8rem;
    border: var(--commonly-utilized-border);
    border-radius: var(--container-border-radius);

    .title {
        padding-bottom: 1.6rem;
        border-bottom: .1rem solid rgba(0, 0, 0, 0.06);
        margin-bottom: 3rem;
        color: var(--icon-color);
        font-size: 1.6rem;
        font-weight: 500;
    }

    .content {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

}