.wrapper {
    max-width: 38rem;
    min-width: 38rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .03), 0 2px 4px 0 rgba(0, 0, 0, .03);

    .search-wrapper {
        align-items: center;
        border-bottom: 1px solid rgba(22, 24, 35, .12);
        display: flex;
        font-size: 1.4rem;
        padding-left: 8px;

        .icon-search {
            font-size: 1.4rem;
            margin-left: 1rem;
            color: #666;
        }

        .search {}
    }

    .options-wrapper {
        .options {
            margin: 0;
            max-height: 24rem;
            overflow: scroll;
            padding: 0.8rem 1.5rem;
        }

        .option {
            cursor: pointer;
            font-size: 1.4rem;
            line-height: 1.6;
            padding: 0.8rem 0;
            white-space: nowrap;
            display: flex;
            align-items: center;

            .text {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 0.6rem;
            }
        }

        .icon-checked {
            color: var(--primary-color);
            margin-left: 1.6rem;
        }
    }
}

.inside-input {
    height: 100%;
    padding: 0 .8rem 0 1.6rem;
    position: relative;
    color: #292929;
    cursor: pointer;
    user-select: none;
    text-align: left;

    .label {
        align-items: center;
        color: #292929;
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
        user-select: none;
        height: 100%;
        justify-content: space-between;

        &::after {
            background-color: rgba(22, 24, 35, .06);
            content: "";
            height: 70%;
            position: absolute;
            right: -.8rem;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: .1rem;
        }

        .icon {
            margin-left: 1rem;
        }
    }
}