.wrapper {
    color: #292929;
    text-align: left;
    width: 100%;

    .d-none {
        display: none !important;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .label-group {
        display: flex;
        justify-content: space-between;

        .label {
            display: block;
            font-size: 1.4rem;
            font-weight: 600;
            padding: .8rem 0 .8rem .8rem;
            line-height: 1.4;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    .input-wrapper {
        background: rgba(22, 24, 35, .06);
        border: .1rem solid rgba(22, 24, 35, .06);
        border-radius: 4.4rem;
        display: flex;
        height: 4.4rem;
        position: relative;

        &:focus-within {
            border-color: rgba(22, 24, 35, .25);
            caret-color: var(--primary-color);
        }

        input {
            background-color: transparent;
            border: none;
            display: block;
            flex: 1 1;
            font-size: 1.4rem;
            outline: none;
            padding: 1.2rem 2rem;
        }

        input::placeholder {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .send-code-btn {
            align-items: center;
            border-radius: 4.4rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 600;
            justify-content: center;
            margin: .1rem;
            min-width: 14rem;
            white-space: nowrap;
            transform: translate(.03rem, .03rem);
        }

        .send-code-btn:not(.disabled) {
            background-color: var(--primary-color);
            color: #fff;
            cursor: pointer;
        }

        .send-code-btn.disabled {
            background-color: #ccc;
            color: #757575;
            cursor: default;
        }
    }

    .input-wrapper.input-error {
        border-color: red;
    }
}