@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #00badf;
    --orange-color: #f05123;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #666;
    --text-color: #333;
    --light-green-color: #00f3bf;
    --plum-color: #b80257;
    --fb-color: #4080ff;
    --mail-color: #f47425;
    --invalid-color: #f33a58;
    --desc-color: #0000008a;
    --first-color: #1dbfaf;
    --second-color: #1dbfaf;
    --button-color: #1dbfaf;
    --icon-color: #707070;
    --button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
    ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 0.8rem;
}

::-webkit-scrollbar-track:hover {
    background: #fff;
}

a {
    color: #333;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    border: none;
    box-shadow: none;
    display: block;
    outline: none;
    padding: 0;
    overflow: visible;
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}