@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #00badf;
    --orange-color: #f05123;
    --black-color: #000000;
    --white-color: #ffffff;
    --gray-color: #666666;
    --yellow-color: #faaf00;
    --text-color: #333333;
    --light-green-color: #00f3bf;
    --plum-color: #b80257;
    --fb-color: #4080ff;
    --mail-color: #f47425;
    --invalid-color: #f33a58;
    --desc-color: #0000008a;
    --first-color: #1dbfaf;
    --second-color: #1dbfaf;
    --button-color: #1dbfaf;
    --icon-color: #707070;
    --scrollbar-color: #d9d9d9;
    --button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
    --system-ui: 'Montserrat', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: .8rem;
}

[aria-modal=true]::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 0.8rem;
}

::-webkit-scrollbar-track:hover {
    background: var(--white-color);
}

::selection {
    background-color: var(--primary-color);
    color: var(--white-color);
}

a {
    color: #333;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    border: none;
    box-shadow: none;
    display: block;
    outline: none;
    padding: 0;
    overflow: visible;
    text-transform: none;
}

ul {
    list-style-type: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
}

button[disabled] {
    cursor: default;
    opacity: .5;
    -ms-user-select: none;
    user-select: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}