.wrapper.disabled {
    cursor: default;
    opacity: .5;
    -ms-user-select: none;
    user-select: none;
}

.wrapper {
    width: 100%;
    height: 4.4rem;
    display: inline-block;
    box-shadow: none;
    font-size: 1.6rem;
    appearance: auto;
    border: 0;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    position: relative;
    border-radius: 4.4rem !important;
    margin-top: 2rem;
    background-size: 100% 200%;
    background-color: var(--button-color);
    background-image: var(--button-image);
    background-position: 0 0;
    transition: background-position .15s cubic-bezier(.2, .2, .2, 1);

    .inner {
        padding: .8rem 1.6rem;
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;

        .text {
            opacity: 1;
            transition: opacity .15s cubic-bezier(.2,.2,.2,1);
        }
    }
}