.wrapper {
    --sidebar-width: 9.6rem;
    --topbar-width: 6.6rem;
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background: #fff;
    font-family: var(--system-ui);

    .container {
        display: flex;
        flex: 1 1;

        .content {
            display: flex;
            flex: 1 1;
            max-width: calc(100% - var(--sidebar-width));
        }
    }
}